<div><h2><i class="icon-gift"></i> Happy Birthday to Brent</h2></div>
<hr>
<div class="well">
	<p align="center">
		<%= image_tag '/brent.jpg', :height => "400", :width => "300", :class => "img-rounded" %>
	</p>
	Brent, 
</div>

<div>
	<h3><i class="icon-comment"></i> Claudia</h3>
	<blockquote><p>keswoman said, "The mountain of evidence presented during the trial showed that Samsung's copying went far deeper than even we knew."Among other findings, the jury at the U.S. District Court found that many of the Apple patents were willfully infringed by Samsung. That means that</p></blockquote>
</div>

<div>
	<h3><i class="icon-comment"></i> Chen</h3>
	<blockquote><p>that you could now safely check off your list, you lunched on a salad of sun-ripened tomatoes and mozzarella de bufala, or pasta, or panini—though I'm not sure whether panini w</p></blockquote>
</div>
<div>
	<h3><i class="icon-comment"></i> Phillips</h3>
	<blockquote><p>y kids about how much better things were when I was growing up—mostly because they weren't. The main advantage of the '50s and '60s was that you could buy a decent-size H</p></blockquote>
</div>
<div>
	<h3><i class="icon-comment"></i> Jeff</h3>
	<blockquote><p>required the last time, in the late '70s, I visited the Giotto chapel and its cycle of 14th-century paintings representing the lives of Mary and Jesus. The work broke revolutionary ground in terms of persp</p></blockquote>
</div>
<div>
	<h3><i class="icon-comment"></i> ChiaChia</h3>
	<blockquote><p>ly late-breaking news that the world is changing. But one occasionally encounters a situation that brings distinguished more by tanning than by cultural heritage sites, we decided to take a break from the beach and visit the Cappella degli Sc</p></blockquote>
</div>
<div>
	<h3><i class="icon-comment"></i> Bertti</h3>
	<blockquote><p>n Romney might be moved from her initially scheduled Monday night slot so that she would be seen on broadcast networks. Ultimately, Mrs. Romney was moved to Tuesday night.  H</p></blockquote>
</div>
