<div class="page-header">
  <h1><i class="icon-gift"></i> Happy Birthday to Brent <small>2012.08.26</small></h1>
</div>

<p align="center">
	<%= image_tag '/brent.jpg', :height => "400", :width => "300", :class => "img-rounded" %>
</p>
	
<div>
	<h3><i class="icon-heart"></i> Claudia</h3>
	<blockquote><p>Happy birthday Brent. I hope this year brings you much joy and happiness. I love you very much and look forward to the adventures of the next year.  Thank you for making me laugh and for all of the fun.  Live to the fullest and enjoy every moment that life provides.<br /><br />
Love you Claudia</p></blockquote>
</div>

<div>
	<h3><i class="icon-glass"></i> Chin-Hsiu</h3>
	<blockquote><p>To my dear BFF Brent,<br />
		<br />
Happy 44th Birthday! Thank you so much for bringing joy, laugh, comfort, and of course lots of food and alcohol to me particularly in this difficult stage of my life. I am so grateful that 44 years ago a little boy was born in a small town of Indiana. I know what Ming would say to you now "Brent, thank you so much for taking care of my girl for me."
<br /><br />
All the best to you.</p></blockquote>
</div>
<div>
	<h3><i class="icon-star"></i> Philip</h3>
	<blockquote><p>Brent, you bear of a man, who embraces us, the living, and all of life around you so firmly in your Top Dog grasp, welcome to your 44th year.  With 43 being one of intense challenges that you tore into head-first, scoring touch downs with every pass, may 44 bring sound sanity, stressless breathing, birdie- and baxter dog-days of blissful barking, eating and sleeping, and a continuance of Claudia-drenched life spoiling where each bite is gourmet, each sip is elixir, each step fantastical, and each nod an embrace of soulful heart.  Your life lived richly will become richer yet.  Happy birthday, my friend.</p></blockquote>
</div>
<div>
	<h3><i class="icon-star-empty"></i> Jeff</h3>
	<blockquote><p>Happy birthday, buddy.  I can't quite find the words to wish you happy birthday, especially since I now learn my words are going to be webified and published for the entire world wide web to read.  How about, something like, "may the bullets in your new gun always aim true and hit the bullseyes of your targets, may your lovely wife and you continue to feed, fete and liquor me up, and may all your musical journeys end in continuous new candy for my ears.  Happy 44 and many more, my BFF.</p></blockquote>
</div>
<div>
	<h3><i class="icon-camera"></i> Chia-Chia</h3>
	<blockquote><p>Hey Brent, it's so lucky to meet you on your birthday. I have no gift for you (but only pineapple pastry) so I made this super simple web page for you. I had a memorable "real" American style birthday party last night. Thank you and Claudia very very much, so nice and enthusiastic of you! I'm really glad my auntie has so many sweet and warm friends with her. You know, everything here is just like a beautiful dream for me, I have BEST days in the United States here. Anyway, Brent, happy birthday. You are always welcome to Taiwan, and I will entertain you well, I promise! :)</p></blockquote>
</div>
<div>
	<h3><i class="icon-comment"></i> Birdee & Baxter</h3>
	<section id="carousel">
	  <div class="bs-docs-example">
	    <div id="myCarousel" class="carousel slide">
	      <div class="carousel-inner">
	      	<div class="item active">
	          <img src="/waiting.jpg" alt="">
	          <div class="carousel-caption">
	            <h4>"When will Brent come home...we wanna tell him that..."</h4>
	          </div>
	        </div>
	        <div class="item">
	          <img src="/Baxter.jpg" alt="">
	          <div class="carousel-caption">
	            <h4>Baxter: "Happy Birthday! Thank you for rescuing me..."</h4>
	          </div>
	        </div>
	        <div class="item">
	          <img src="/Birdee.jpg" alt="">
	          <div class="carousel-caption">
	            <h4>Birdee: "...and could u giv us some meat for celebration?"</h4>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div>
	  </div>
	</section>
</div>
<div align="right">
<%= link_to '/photos' do %>
	<i class="icon-hand-right"></i> photos
<% end %>
</div>
<hr>
<%= content_for :more_javascript do %>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
<% end %>
