<div>
	<section id="carousel">
	  <div class="bs-docs-example">
	    <div id="myCarousel" class="carousel slide">
	      <div class="carousel-inner">
	      	<div class="item active">
	          <img src="/waiting.jpg" alt="">
	          <div class="carousel-caption">
	            <h4>"When will Brent come home...we wanna tell him that..."</h4>
	          </div>
	        </div>
	        <div class="item">
	          <img src="/Baxter.jpg" alt="">
	          <div class="carousel-caption">
	            <h4>Baxter: "Happy Birthday! Thank you for rescuing me..."</h4>
	          </div>
	        </div>
	        <div class="item">
	          <img src="/Birdee.jpg" alt="">
	          <div class="carousel-caption">
	            <h4>Birdee: "...and could u giv us some meat for celebration?"</h4>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div>
	  </div>
	</section>
</div>

<hr>
<%= content_for :more_javascript do %>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
<% end %>
