<!DOCTYPE html>
<html>
<head>

  <title>HappyBirthdayToBrent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">/*I don't know why this section is written here, just follow example http://twitter.github.com/bootstrap/examples/fluid.html source code. You can modify if needed.*/
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
</head>
<body>
	<!-- <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        </a>
        <a class="brand" href="#">Brent</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
      </div><!--/span-->

  	  <div class="span6">
  			<%= yield %>
  			<hr>	
		    <footer>
		      <p>by ChiaChia</p>
		    </footer>
	  	</div><!--/span-->
	  	<div class="span3">
      </div><!--/span-->
		</div><!--/row-->
  </div><!--/.fluid-container-->
</body>
</html>
